:root {
    --blue: #0084ff;
}

html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    color: white;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.7);
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
}

header, 
article,
footer {
    background-color: var(--blue);
}

.content {
    min-height: calc(100vh - 100px);
}

main article {
    margin: 10px;
    padding: 10px;
}